{{template "base.html" .}}

{{define "title"}}Activate account{{end}}

{{define "content"}}
<tr>
  <td class="wrapper" style="font-family: Helvetica, sans-serif; font-size: 16px; vertical-align: top; box-sizing: border-box; padding: 24px;" valign="top">
    <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Hi there</p>
    <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Your activation code is {{.ActivationCode}}</p>
    <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam aliquid ipsam iusto eius repellendus ipsum natus adipisci beatae obcaecati doloremque, earum saepe voluptas voluptatem facilis nobis? At, sequi commodi.</p>
    <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Good luck! Hope it works.</p>
  </td>
</tr>
{{end}}

